# Traefik Configuration
api:
  dashboard: true
  insecure: false

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entrypoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: ":443"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: gwan-network

certificatesResolvers:
  letsencrypt:
    acme:
      tlsChallenge: {}
      httpChallenge:
        entryPoint: web
      email: admin@gwan.com.br
      storage: /letsencrypt/acme.json

log:
  level: INFO
  filePath: /var/log/traefik.log

accessLog:
  filePath: /var/log/access.log

metrics:
  prometheus:
    addEntryPointsLabels: true
    addServicesLabels: true

# Global settings
global:
  checkNewVersion: false
  sendAnonymousUsage: false
